header {
  display: flex;
}

h1 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-right: 100px;
}

nav {
  margin-top: 20px;
}

a {
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: red;
  border: solid black 1px;
  background-color: black;
  border-radius: 8px;
  padding: 10px 20px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

p {
  font-family: 'Source Code Pro', monospace;
  color: black;
  line-height: 1.4;
}

.about {
  margin-top: 20px;
}